Repository aws-solutions/research-service-workbench-on-aws: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-environments, build-swb-app, build-swb-reference

.gitlab-ci.yml:

image: registry.gitlab.aws.dev/ma-foundation/ma-mono/node14-awscli:latest

stages:
  - .pre
  - build
  - test

.base:
  before_script:
    - aws codeartifact login --domain ${CODEARTIFACT_DOMAIN_NAME} --domain-owner ${CODEARTIFACT_DOMAIN_OWNER} --repository ${CODEARTIFACT_REPO_NAME} --region ${REGION} --tool ${CODEARIFACT_PACKAGE_FORMAT}
    - npm config list
    - node common/scripts/install-run-rush.js update

rush-check:
  extends: 
    - .base
  stage: .pre
  script:
    # Checks each project's package.json files and ensures that all dependencies are of the same version throughout the repository.
    - node common/scripts/install-run-rush.js check
    

build-environments:
  extends: 
    - .base
  stage: build
  rules:
    - changes:
      - "**/environments/**/*"
  script:
    - node common/scripts/install-run-rush.js build --to "@${CODEARTIFACT_NAMESPACE}/environments" -v
    - node common/scripts/install-run-rush.js test --to "@${CODEARTIFACT_NAMESPACE}/environments" -v

build-swb-app:
  extends: 
    - .base
  stage: build
  rules:
    - changes:
      - "**/swb-app/**/*"
  script:
    - node common/scripts/install-run-rush.js build --to "@${CODEARTIFACT_NAMESPACE}/swb-app" -v
    - node common/scripts/install-run-rush.js test --to "@${CODEARTIFACT_NAMESPACE}/swb-app" -v

build-swb-reference:
  extends: 
    - .base
  stage: build
  rules:
    - changes:
      - "**/swb-reference/**/*" 
  script:
    - node common/scripts/install-run-rush.js build --to "@${CODEARTIFACT_NAMESPACE}/swb-reference" -v
    - node common/scripts/install-run-rush.js test --to "@${CODEARTIFACT_NAMESPACE}/swb-reference" -v

include:
  template: Jobs/SAST.gitlab-ci.yml

environment package update
  .gitlab-ci.yml
Due: none

environment package update
  workbench-core/environments/src/greeter.ts
Due: build-environments

swb-app test changes
  solutions/swb-app/src/app.ts
Due: build-swb-app

gitlab ci file update
  .gitlab-ci.yml
Due: none

Feature/swb app
  .gitlab-ci.yml
  solutions/swb-app/src/app.ts
Due: build-swb-app

swb-app package update
  solutions/swb-app/src/app.ts
Due: build-swb-app

gitlab ci update
  .gitlab-ci.yml
Due: none

fix: Delete Config
  Config
Due: none

gitlab ci update
  .gitlab-ci.yml
  common/git-hooks/pre-commit
Due: none

test ci update
  solutions/swb-app/src/app.ts
Due: build-swb-app

Add LICENSE
  LICENSE
Due: none

Feature/swb app
  .viperlightignore
  buildspec.yml
  publish-buildspec.yml
Due: none

Feature/swb app
  .backup-gitlab-ci.yml
  .gitlab-ci.yml
  solutions/swb-app/src/app.ts
Due: build-swb-app

Feature/swb app
  .gitlab-ci.yml
  solutions/swb-app/README.md
  workbench-core/environments/CHANGELOG.md
Due: build-environments, build-swb-app

Feature/environments
  .gitlab-ci.yml
  workbench-core/environments/src/greeter.ts
Due: build-environments

Feature/environments
  workbench-core/environments/src/greeter.ts
Due: build-environments

README and gitlab-ci update
  .gitlab-ci.yml
  README.md
Due: none

Feature/cleanup
  .backup-gitlab-ci.yml
  .gitlab-ci.yml
  README.md
  bin/git-secrets-scan.sh
  bin/rush-repo-url-update.sh
  bin/viperlight-scan.sh
  common/changes/@amzn/environments/mainline_2022-03-02-05-43.json
  common/config/rush/command-line.json
  rush.json
Due: build-environments

fix: Update readme
  README.md
  solutions/swb-reference/lambda/temp/_eslint-HPBXj2O2.json
  solutions/swb-reference/temp/_eslint-LZL4XYY6.json
  workbench-core/environments/temp/_eslint-WlfjWCha.json
Due: build-environments, build-swb-reference

ci(githook): Add better commit rules
  common/git-hooks/commit-msg
  common/git-hooks/commit-msg.sample
Due: none

docs: Update readme for commit msg change
  README.md
Due: none
