Repository aws-solutions/research-service-workbench-on-aws: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-environments, build-swb-app, build-swb-reference

.gitlab-ci.yml:

image: node:14-alpine

stages:
  - .pre
  - build
  - test

variables:
  CODEARTIFACT_DOMAIN_NAME: 'amazon'
  CODEARTIFACT_DOMAIN_OWNER: '149122183214'
  CODEARTIFACT_REPO_NAME: 'dmmadse-test'
  REGION: 'us-west-2'
  CODEARIFACT_PACKAGE_FORMAT: 'npm'
  CODEARTIFACT_NAMESPACE: 'amzn'
  AWS_CREDS_TARGET_ROLE: 'arn:aws:iam::570848053562:role/GitLab'
  AWS_DEFAULT_REGION: 'us-west-2'
  APK_CACHE_DIR: $CI_PROJECT_DIR/.cache/apk
  PIP_PACKAGES:
    awscli
  APK_PACKAGES:
    python3
    py3-pip
    
cache:
  key: one-key-to-rule-them-all
  paths:
    - $APK_CACHE_DIR

codeartifactlogin:
  stage: .pre
  script:
    - mkdir -p $APK_CACHE_DIR
    - apk update
    - apk add --cache-dir $APK_CACHE_DIR $APK_PACKAGES
    - pip3 install $PIP_PACKAGES
    - aws --version
    # - aws codeartifact login --domain ${CODEARTIFACT_DOMAIN_NAME} --domain-owner ${CODEARTIFACT_DOMAIN_OWNER} --repository ${CODEARTIFACT_REPO_NAME} --region ${REGION} --tool ${CODEARIFACT_PACKAGE_FORMAT}

scanAndCheck:
  stage: build
  script:
    - aws codeartifact login --domain ${CODEARTIFACT_DOMAIN_NAME} --domain-owner ${CODEARTIFACT_DOMAIN_OWNER} --repository ${CODEARTIFACT_REPO_NAME} --region ${REGION} --tool ${CODEARIFACT_PACKAGE_FORMAT}
    - apk add --cache-dir $APK_CACHE_DIR bash git
    - npm config list
    - node common/scripts/install-run-rush.js git-secrets-scan
    - npm config list
    # Checks each project's package.json files and ensures that all dependencies are of the same version throughout the repository.
    - node common/scripts/install-run-rush.js check

build-environments:
  stage: build
  only:
    changes:
      - "**/environments/**/*"
  script:
    - aws codeartifact login --domain ${CODEARTIFACT_DOMAIN_NAME} --domain-owner ${CODEARTIFACT_DOMAIN_OWNER} --repository ${CODEARTIFACT_REPO_NAME} --region ${REGION} --tool ${CODEARIFACT_PACKAGE_FORMAT}
    - node common/scripts/install-run-rush.js update
    - node common/scripts/install-run-rush.js build --to "@${CODEARTIFACT_NAMESPACE}/environments" -v
    - node common/scripts/install-run-rush.js test --to "@${CODEARTIFACT_NAMESPACE}/environments" -v

build-swb-app:
  stage: build
  only:
    changes:
      - "**/swb-app/**/*"
  script:
    - aws codeartifact login --domain ${CODEARTIFACT_DOMAIN_NAME} --domain-owner ${CODEARTIFACT_DOMAIN_OWNER} --repository ${CODEARTIFACT_REPO_NAME} --region ${REGION} --tool ${CODEARIFACT_PACKAGE_FORMAT}
    - node common/scripts/install-run-rush.js update
    - node common/scripts/install-run-rush.js build --to "@${CODEARTIFACT_NAMESPACE}/swb-app" -v
    - node common/scripts/install-run-rush.js test --to "@${CODEARTIFACT_NAMESPACE}/swb-app" -v

build-swb-reference:
  stage: build
  only:
    changes:
      - "**/swb-app/**/*"
  script:
    - aws codeartifact login --domain ${CODEARTIFACT_DOMAIN_NAME} --domain-owner ${CODEARTIFACT_DOMAIN_OWNER} --repository ${CODEARTIFACT_REPO_NAME} --region ${REGION} --tool ${CODEARIFACT_PACKAGE_FORMAT}
    - node common/scripts/install-run-rush.js update
    - node common/scripts/install-run-rush.js build --to "@${CODEARTIFACT_NAMESPACE}/swb-reference" -v
    - node common/scripts/install-run-rush.js test --to "@${CODEARTIFACT_NAMESPACE}/swb-reference" -v

include:
  template: Jobs/SAST.gitlab-ci.yml

SAST scanner check
  .gitlab-ci.yml
Due: none

SAST scanner check
  workbench-core/environments/src/greeter.ts
Due: build-environments

SAST scanner check
  .gitlab-ci.yml
  solutions/swb-app/src/app.ts
Due: build-swb-app, build-swb-reference

SAST scanner check
  .gitlab-ci.yml
  workbench-core/environments/src/greeter.ts
Due: build-environments

swb-app package update
  solutions/swb-app/src/app.ts
Due: build-swb-app, build-swb-reference

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

environment package update
  workbench-core/environments/src/greeter.ts
Due: build-environments

test change again
  .gitlab-ci.yml
Due: none

environment package update
  .gitlab-ci.yml
  workbench-core/environments/src/greeter.ts
Due: build-environments

swb-app package update
  .gitlab-ci.yml
  solutions/swb-app/src/app.ts
Due: build-swb-app, build-swb-reference

swb-app package update
  .gitlab-ci.yml
Due: none

environment package update
  .gitlab-ci.yml
Due: none
